.logoLayout {
    width: 250px;
    transition: all ease 0.2s;
    cursor: pointer;
    margin-bottom: 50px;
}

.logoLayout:hover {
    scale: 1.05;
    transition: all ease 0.2s;
}
  
.layoutChildrenContainerNavEnabled {
    width: calc(100% - 150px);
    margin-left: 150px;
    height: 100vh;
    transition: all ease 0.2s;
}

.layoutChildrenContainerNavDisabled {
    width: 100%;
    height: 100vh;
    margin-left: 0px;
    transition: all ease 0.2s;
}

@media (max-width: 425px) {

    .logoLayout {
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .layoutChildrenContainerNavEnabled {
        width: 100%;
        height: fit-content;
        margin-left: 0px;
        transition: all ease 0.2s;
    }
  
}