.navBarContainer, .navBarContainerDisabled {
    width: 120px;
    height: 100vh;
    background-color: #2F2F2F;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    transition: all ease 0.2s;
    z-index: 2;
}
.navBarContainer {
    left: 0;
}
.navBarContainerDisabled {
    left: -120px;
}

.navBarIconContainer {
    width: 70%;
    border-radius: 8px;
    background-color: rgba(255, 0, 0, 0);
    transition: all ease 0.2s;
    cursor: pointer;
    display: flex;
}

.navBarButton, .navBarButtonFocused, .navBarSearchButton {
    width: 100%;
    cursor: pointer;
    display: flex;
}

.navBarIconContainer:hover {
    background-color: #ffffff5f;
    transition: all ease 0.2s;
}

.navBarIconContainer:hover .navBarIcon {
    scale: 1.1;
    transition: all ease 0.2s;
}

.navBarButton > a, .navBarButtonFocused > a {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    display: grid;
    grid-row: auto;
    row-gap: 8px;
}

.navBarSearchButton {
    padding-top: 16px;
    padding-bottom: 16px;
    display: grid;
    grid-row: auto;
    row-gap: 8px;
}

.navBarButtonFocused {
    scale: 1.1;
    background-color: #ffffffa2;
}

.navBarIcon {
    width: 40px;
    height: 40px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all ease 0.2s;
}

.navBarIconFocused {
    width: 40px;
    height: 40px;
    scale: 1.1;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
}


.navLabelBtn {
    display: block;
    bottom: -16px;
    left: -1px;
    display: block;
    text-align: center;
    width: fit-content;
    font-size: 12px;
    color: #FFFFFF;
    opacity: 0.5;
    bottom: 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.navLabelFocused {
    opacity: 1;
    scale: 1.1;
}

.home {
    background-image: url("/assets/home.svg");
    opacity: 0.5;
}
.homeFocused {
    background-image: url("/assets/home.svg");
    opacity: 1;
}

.search {
    background-image: url("/assets/search.svg");
    opacity: 0.5;
}
.searchFocused {
    background-image: url("/assets/search.svg");
    opacity: 1;
}

.pokeball {
    background-image: url("/assets/pokeball.svg");
    opacity: 0.5;
}
.pokeballFocused {
    background-image: url("/assets/pokeball.svg");
    opacity: 1;
}


.navBarToggle, .navBarToggleHide {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -40px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all ease 0.2s;
}

.navBarToggle {
    background-image: url('/assets/arrow-left.svg');
}

.navBarToggleHide {
    background-image: url('/assets/arrow-right.svg');
}

.navBarToggle:hover {
    scale: 1.2;
    transition: all ease 0.2s;
}



@media (max-width: 425px) {

    .navBarContainer {
        left: -120px;
    }

    .navBarContainerDisabled {
        width: 100%;
        left: 0;
    }

    .burgerMenuContainer {
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        background: rgba(47, 47, 47, 0.768);
        backdrop-filter: blur(6.4px);
        -webkit-backdrop-filter: blur(6.4px);
        transition: all ease 0.2s;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .burgerMenu {
        margin-left: 8px;
        width: 40px;
        height: 40px;
        background-image: url('/assets/burger-menu.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }

    .navBarToggle, .navBarToggleHide {
        display: none;
    }

    .navLabelBtn {
        font-size: 14px;
    }

    #navBarIconSearchContainer {
        display: none;
    }

    .searchMenu {
        width: 40px;
        height: 40px;
        background-image: url("/assets/search-grey.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        margin-left: auto;
        margin-right: 8px;
    }
}