.pokemonPicture {
    width: 500px;
}

.pokemonInfoContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    transition: all ease 0.2s;
    padding-bottom: 100px;
}

.navPokemonContainer {
    width: 100%;
    height: fit-content;
    padding-top: 8px;
    display: flex;
    justify-content: space-around;
    transition: all ease 0.2s;
    border-bottom: 2px solid #efeeee13;
    margin-bottom: 50px;
}

.navPokemon {
    cursor: pointer;
    transition: all ease 0.2s;
    color: #efeeee;
    border-bottom: 2px solid #efeeee00;
    padding-bottom: 8px;
}

.navPokemon:hover {
    cursor: pointer;
    transition: all ease 0.2s;
    scale: 1.1;
    font-weight: 500;
}

.focusNav {
    font-weight: 500;
    border-bottom: 2px solid #efeeee;
}

.pokemonInfoHeroContainer {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pokemonStatsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    column-gap: 16px;
    row-gap: 16px;
    transition: all ease 0.2s;
}

.pokemonTypesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
}

.pokemonTypeTag {
    padding: 8px;
    text-transform: capitalize;
    background-color: #F5F5F5;
    width: fit-content;
    min-width: 100px;
    height: fit-content;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    text-align: center;
    display: block;
}

.pokemonTypeTag > p {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: rgb(13, 13, 13);
}